<a href="https://colab.research.google.com/github/AngelaKatona/final_project_academy/blob/main/books_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Books Project

In [278]:
#necessary libraries

import pandas as pd
import requests
import re

Extracting the data from CSV

In [294]:
path_books = '/content/drive/MyDrive/BX-Books.csv'
path_reviews = '/content/drive/MyDrive/BX-Book-Ratings.csv'
path_users = '/content/drive/MyDrive/BX-Users.csv'

reviews = pd.read_csv(path_reviews, encoding= 'unicode_escape', on_bad_lines='skip', sep= ';')
books = pd.read_csv(path_books, encoding= 'unicode_escape', on_bad_lines='skip', sep= ';')
users = pd.read_csv(path_users, encoding= 'unicode_escape', on_bad_lines='skip', sep= ';')

<ipython-input-294-df35e88eeaa9>:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(path_books, encoding= 'unicode_escape', on_bad_lines='skip', sep= ';')

In [296]:
display(books)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [297]:
display(reviews)

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [298]:
display(users)

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

Transforming and cleaning the data

In [408]:
#merge reviews and users dataframes
books_dataset = pd.merge(books, reviews, on = 'ISBN')
display(books_dataset)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0
...,...,...,...,...,...,...,...,...,...,...
1031131,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,276463,7
1031132,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,276579,4
1031133,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,276680,0
1031134,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,276680,0
1031135,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,276680,0

In [409]:
#drop duplicated values
books_dataset = books_dataset.drop_duplicates()
len(books_dataset)

1031136

In [410]:
#drop null values
books_dataset = books_dataset.dropna()
len(books_dataset)

1031128

In [411]:
#drop ratings with 0
books_dataset = books_dataset.drop(books_dataset[books_dataset['Book-Rating'] == 0].index)
len(books_dataset)

383837

In [412]:
#computing for each book, their average rating and number of ratings
avg_ratings = books_dataset.groupby(['ISBN'])['Book-Rating'].mean().reset_index(name = "Average rating").round(2)
num_ratings = books_dataset.groupby(['ISBN'])['ISBN'].count().reset_index(name = "Number of ratings").round(2)

info_ratings = pd.merge(num_ratings, avg_ratings, left_on = 'ISBN', right_on = 'ISBN').sort_values(by = ['Number of ratings', 'Average rating'], ascending=[False, False])
display(info_ratings)

              ISBN  Number of ratings  Average rating
21945   0316666343                707            8.19
117744  0971880107                581            4.39
38819   0385504209                487            8.44
18058   0312195516                383            8.18
4131    0060928336                320            7.89
...            ...                ...             ...
149379  9626340118                  1            1.00
149514  9706611622                  1            1.00
149623  9728028784                  1            1.00
149650  9774244842                  1            1.00
149810  B0000C7BNG                  1            1.00

[149831 rows x 3 columns]

In [413]:
#only taking into consideration the books that have more than 50 ratings
info_ratings = info_ratings[info_ratings['Number of ratings'] >= 50]
display(info_ratings)

              ISBN  Number of ratings  Average rating
21945   0316666343                707            8.19
117744  0971880107                581            4.39
38819   0385504209                487            8.44
18058   0312195516                383            8.18
4131    0060928336                320            7.89
...            ...                ...             ...
77982   0671894455                 50            7.42
57627   0452282195                 50            7.36
72464   0670865796                 50            7.34
67242   0553582526                 50            7.32
50754   0446516538                 50            6.42

[531 rows x 3 columns]

In [414]:
#adding the average rating and number of ratings in the books dataset by merging the two dataframes
books_dataset = pd.merge(books_dataset.drop(['User-ID','Book-Rating'], axis=1).drop_duplicates(), info_ratings, on = 'ISBN')
display(books_dataset)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Number of ratings,Average rating
0,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,169,7.70
1,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,79,7.77
2,0971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,581,4.39
3,0345402871,Airframe,Michael Crichton,1997,Ballantine Books,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,79,7.46
4,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,195,7.85
...,...,...,...,...,...,...,...,...,...,...
526,0515126772,Jewels of the Sun (Irish Trilogy),Nora Roberts,2004,Jove Books,http://images.amazon.com/images/P/0515126772.0...,http://images.amazon.com/images/P/0515126772.0...,http://images.amazon.com/images/P/0515126772.0...,63,7.97
527,0679735771,American Psycho (Vintage Contemporaries),Bret Easton Ellis,2000,Vintage Books USA,http://images.amazon.com/images/P/0679735771.0...,http://images.amazon.com/images/P/0679735771.0...,http://images.amazon.com/images/P/0679735771.0...,55,6.98
528,0449219461,H Is for Homicide (Kinsey Millhone Mysteries (...,Sue Grafton,1993,Fawcett Books,http://images.amazon.com/images/P/0449219461.0...,http://images.amazon.com/images/P/0449219461.0...,http://images.amazon.com/images/P/0449219461.0...,52,7.75
529,0446606189,Cat &amp; Mouse (Alex Cross Novels),James Patterson,1998,Warner Books,http://images.amazon.com/images/P/0446606189.0...,http://images.amazon.com/images/P/0446606189.0...,http://images.amazon.com/images/P/0446606189.0...,77,8.00
530,0345444884,The Talisman,STEPHEN KING,2001,Ballantine Books,http://images.amazon.com/images/P/0345444884.0...,http://images.amazon.com/images/P/0345444884.0...,http://images.amazon.com/images/P/0345444884.0...,52,8.21

Extracting data from API


*   for book details I used Google Books API
*   for author details I used Open Library Authors API

In [415]:
#function that makes a list out of the values from a column
#useful for the api call
def list_from_column(dataframe, column):
  column_list = dataframe[column].values.tolist()
  return column_list

In [416]:
#function for detting dataframes from API calls
def dataframe_from_api(url, api, check_field, list_items):
  results = [] #list to store results
  
  for item in list_items:
    if(api == 'book'):
      params = {'q': f'isbn:{item} '}
    if(api == 'author'):
      params = f'q={item}'
    
    response = requests.get(url, params=params) # send the GET request to the API and fetch the response
    data = response.json()  # extract the information from the response

    if len(data.get(check_field, [])) > 0: #check if items were returned
      needed_item = data[check_field][0] #only extract the first item
      
      if(api == 'book'): #special case for the book api
        needed_item['ISBN'] = item
      
      results.append(needed_item)
      
  return pd.json_normalize(results)

In [417]:
#function for renaming columns
def rename_columns(dataframe):
  new_columns = []
  for column in dataframe.columns:
    new_column = re.sub(r'[_-]', ' ', column).title().replace(' ', '')
    new_columns.append(new_column)
    
  dataframe.columns = new_columns
  return dataframe

##### The book dataframe

In [418]:
#creating a list with all the ISBN
list_ISBN = list_from_column(books_dataset, 'ISBN')
print(len(list_ISBN))

531

In [419]:
url = f'https://www.googleapis.com/books/v1/volumes'
google_books = dataframe_from_api(url, 'book', 'items', list_ISBN)
display(google_books)

,kind,id,etag,selfLink,ISBN,volumeInfo.title,volumeInfo.authors,volumeInfo.publisher,volumeInfo.publishedDate,volumeInfo.description,...,searchInfo.textSnippet,volumeInfo.subtitle,accessInfo.epub.acsTokenLink,accessInfo.pdf.acsTokenLink,saleInfo.listPrice.amount,saleInfo.listPrice.currencyCode,saleInfo.retailPrice.amount,saleInfo.retailPrice.currencyCode,saleInfo.buyLink,saleInfo.offers
0,books#volume,yVjncdO2AYQC,ORN/X7eKWX8,https://www.googleapis.com/books/v1/volumes/yV...,0440234743,The Testament,[John Grisham],Island Books,1999,Heart of darkness... In a plush Virginia offic...,...,Heart of darkness.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,books#volume,MMiJtZ79gAQC,mnB1iSU95eY,https://www.googleapis.com/books/v1/volumes/MM...,0452264464,Beloved,[Toni Morrison],Plume Books,1988,WINNER OF THE NOBEL PRIZE IN LITERATURE.,...,WINNER OF THE NOBEL PRIZE IN LITERATURE.,A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,books#volume,cbGr5lUcuCgC,BgAFpBZKTOc,https://www.googleapis.com/books/v1/volumes/cb...,0971880107,Wild Animus,[Rich Shapero],Too Far Books,2004,"Wild animus is a search for the primordial, a ...",...,"Wild animus is a search for the primordial, a ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,books#volume,N5vwCX6gyi8C,5CiJw3sOLhA,https://www.googleapis.com/books/v1/volumes/N5...,0345402871,Airframe,[Michael Crichton],"Random House Digital, Inc.",1996,Three passengers are dead. Fifty-six are injur...,...,AIRFRAME is nonstop reading: the extraordinary...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,books#volume,RJ3VG7JRIvQC,I8Ow7X+m/xI,https://www.googleapis.com/books/v1/volumes/RJ...,0345417623,Timeline,[Michael Crichton],NaN,1999,When a group of scientists learns how to trave...,...,When a group of scientists learns how to trave...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,books#volume,OxM59ts4iloC,1cE/6i2qNRM,https://www.googleapis.com/books/v1/volumes/Ox...,0451160525,The Gunslinger,[Stephen King],Signet,1989,The End Is Near. Start At The Beginning.Prepar...,...,The End Is Near. Start At The Beginning.Prepar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,books#volume,9aBN8W4yQj8C,yfriYm1uPvg,https://www.googleapis.com/books/v1/volumes/9a...,0553574574,Beach Music,[Pat Conroy],Bantam,1996,An American living in Rome with his daughter a...,...,An American living in Rome with his daughter a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,books#volume,FLCJngEACAAJ,TGOGu7Gatl0,https://www.googleapis.com/books/v1/volumes/FL...,0385503954,Atonement,NaN,Nan A. Talese,2001,"In 1935 England, thirteen-year-old Briony Tall...",...,"In 1935 England, thirteen-year-old Briony Tall...",A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,books#volume,ddos4wsSnK8C,hnAsM4xP7aw,https://www.googleapis.com/books/v1/volumes/dd...,014100018X,Chocolat,[Joanne Harris],Penguin Group,2000,An exotic stranger arrives in the French villa...,...,Hailed as &quot;an amazement of riches few rea...,A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,books#volume,70oE99qXRioC,qddhpIUq+nw,https://www.googleapis.com/books/v1/volumes/70...,051513628X,Key of Light,[Nora Roberts],Penguin,2003-10-28,#1 New York Times bestselling author Nora Robe...,...,She soon discovers that whatever locked the so...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [420]:
#check the column names
print(google_books.columns.tolist())

['kind', 'id', 'etag', 'selfLink', 'ISBN', 'volumeInfo.title', 'volumeInfo.authors', 'volumeInfo.publisher', 'volumeInfo.publishedDate', 'volumeInfo.description', 'volumeInfo.industryIdentifiers', 'volumeInfo.readingModes.text', 'volumeInfo.readingModes.image', 'volumeInfo.pageCount', 'volumeInfo.printType', 'volumeInfo.categories', 'volumeInfo.averageRating', 'volumeInfo.ratingsCount', 'volumeInfo.maturityRating', 'volumeInfo.allowAnonLogging', 'volumeInfo.contentVersion', 'volumeInfo.panelizationSummary.containsEpubBubbles', 'volumeInfo.panelizationSummary.containsImageBubbles', 'volumeInfo.imageLinks.smallThumbnail', 'volumeInfo.imageLinks.thumbnail', 'volumeInfo.language', 'volumeInfo.previewLink', 'volumeInfo.infoLink', 'volumeInfo.canonicalVolumeLink', 'saleInfo.country', 'saleInfo.saleability', 'saleInfo.isEbook', 'accessInfo.country', 'accessInfo.viewability', 'accessInfo.embeddable', 'accessInfo.publicDomain', 'accessInfo.textToSpeechPermission', 'accessInfo.epub.isAvailable', 'accessInfo.pdf.isAvailable', 'accessInfo.webReaderLink', 'accessInfo.accessViewStatus', 'accessInfo.quoteSharingAllowed', 'searchInfo.textSnippet', 'volumeInfo.subtitle', 'accessInfo.epub.acsTokenLink', 'accessInfo.pdf.acsTokenLink', 'saleInfo.listPrice.amount', 'saleInfo.listPrice.currencyCode', 'saleInfo.retailPrice.amount', 'saleInfo.retailPrice.currencyCode', 'saleInfo.buyLink', 'saleInfo.offers']

In [421]:
#check if logic was correct
print(google_books['volumeInfo.industryIdentifiers'][7])
print(google_books['ISBN'][7])

[{'type': 'ISBN_13', 'identifier': '9780553582741'}, {'type': 'ISBN_10', 'identifier': '0553582747'}]
0553582747

In [422]:
#only keeping the columns that we need
google_books = google_books[['ISBN', 'volumeInfo.description', 'volumeInfo.pageCount','volumeInfo.categories']]

display(google_books)

,ISBN,volumeInfo.description,volumeInfo.pageCount,volumeInfo.categories
0,0440234743,Heart of darkness... In a plush Virginia offic...,545,[Adventure stories]
1,0452264464,WINNER OF THE NOBEL PRIZE IN LITERATURE.,296,[African American women]
2,0971880107,"Wild animus is a search for the primordial, a ...",322,[Adventure fiction]
3,0345402871,Three passengers are dead. Fifty-six are injur...,431,[Fiction]
4,0345417623,When a group of scientists learns how to trave...,518,[Adventure stories]
...,...,...,...,...
143,0451160525,The End Is Near. Start At The Beginning.Prepar...,324,[Adventure stories]
144,0553574574,An American living in Rome with his daughter a...,801,[Americans]
145,0385503954,"In 1935 England, thirteen-year-old Briony Tall...",351,[Fiction]
146,014100018X,An exotic stranger arrives in the French villa...,324,[Chocolate]
147,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction]

In [423]:
#renaming the columns
google_books.rename(columns={'volumeInfo.description':'Book-Description', 'volumeInfo.pageCount': 'Number-of-Pages', 'volumeInfo.categories' : 'Categories'}, inplace=True)

display(google_books)

,ISBN,Book-Description,Number-of-Pages,Categories
0,0440234743,Heart of darkness... In a plush Virginia offic...,545,[Adventure stories]
1,0452264464,WINNER OF THE NOBEL PRIZE IN LITERATURE.,296,[African American women]
2,0971880107,"Wild animus is a search for the primordial, a ...",322,[Adventure fiction]
3,0345402871,Three passengers are dead. Fifty-six are injur...,431,[Fiction]
4,0345417623,When a group of scientists learns how to trave...,518,[Adventure stories]
...,...,...,...,...
143,0451160525,The End Is Near. Start At The Beginning.Prepar...,324,[Adventure stories]
144,0553574574,An American living in Rome with his daughter a...,801,[Americans]
145,0385503954,"In 1935 England, thirteen-year-old Briony Tall...",351,[Fiction]
146,014100018X,An exotic stranger arrives in the French villa...,324,[Chocolate]
147,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction]

In [424]:
#merging our initial book dataframe with the obtained dataframe in order to have our needed details too
books_dataset = pd.merge(google_books, books_dataset, on = 'ISBN')

display(books_dataset)

,ISBN,Book-Description,Number-of-Pages,Categories,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Number of ratings,Average rating
0,0440234743,Heart of darkness... In a plush Virginia offic...,545,[Adventure stories],The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,169,7.70
1,0452264464,WINNER OF THE NOBEL PRIZE IN LITERATURE.,296,[African American women],Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,79,7.77
2,0971880107,"Wild animus is a search for the primordial, a ...",322,[Adventure fiction],Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,581,4.39
3,0345402871,Three passengers are dead. Fifty-six are injur...,431,[Fiction],Airframe,Michael Crichton,1997,Ballantine Books,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,79,7.46
4,0345417623,When a group of scientists learns how to trave...,518,[Adventure stories],Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,195,7.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,0451160525,The End Is Near. Start At The Beginning.Prepar...,324,[Adventure stories],"The Gunslinger (The Dark Tower, Book 1)",Stephen King,1994,New American Library,http://images.amazon.com/images/P/0451160525.0...,http://images.amazon.com/images/P/0451160525.0...,http://images.amazon.com/images/P/0451160525.0...,58,8.14
144,0553574574,An American living in Rome with his daughter a...,801,[Americans],Beach Music,Pat Conroy,1996,Bantam Books,http://images.amazon.com/images/P/0553574574.0...,http://images.amazon.com/images/P/0553574574.0...,http://images.amazon.com/images/P/0553574574.0...,63,7.62
145,0385503954,"In 1935 England, thirteen-year-old Briony Tall...",351,[Fiction],Atonement: A Novel,Ian McEwan,2002,Nan A. Talese,http://images.amazon.com/images/P/0385503954.0...,http://images.amazon.com/images/P/0385503954.0...,http://images.amazon.com/images/P/0385503954.0...,50,7.94
146,014100018X,An exotic stranger arrives in the French villa...,324,[Chocolate],Chocolat,Joanne Harris,2000,Penguin Books,http://images.amazon.com/images/P/014100018X.0...,http://images.amazon.com/images/P/014100018X.0...,http://images.amazon.com/images/P/014100018X.0...,52,7.85
147,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10

In [425]:
#rename the columns so that they all have the same format
books_dataset = rename_columns(books_dataset)

In [474]:
#more cleaning
books_dataset['BookAuthor'] = books_dataset['BookAuthor'].str.title()

In [475]:
display(books_dataset)

,Isbn,BookDescription,NumberOfPages,Categories,BookTitle,BookAuthor,YearOfPublication,Publisher,ImageUrlS,ImageUrlM,ImageUrlL,NumberOfRatings,AverageRating
0,0440234743,Heart of darkness... In a plush Virginia offic...,545,[Adventure stories],The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,169,7.70
1,0452264464,WINNER OF THE NOBEL PRIZE IN LITERATURE.,296,[African American women],Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,79,7.77
2,0971880107,"Wild animus is a search for the primordial, a ...",322,[Adventure fiction],Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,581,4.39
3,0345402871,Three passengers are dead. Fifty-six are injur...,431,[Fiction],Airframe,Michael Crichton,1997,Ballantine Books,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,79,7.46
4,0345417623,When a group of scientists learns how to trave...,518,[Adventure stories],Timeline,Michael Crichton,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,195,7.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,0451160525,The End Is Near. Start At The Beginning.Prepar...,324,[Adventure stories],"The Gunslinger (The Dark Tower, Book 1)",Stephen King,1994,New American Library,http://images.amazon.com/images/P/0451160525.0...,http://images.amazon.com/images/P/0451160525.0...,http://images.amazon.com/images/P/0451160525.0...,58,8.14
144,0553574574,An American living in Rome with his daughter a...,801,[Americans],Beach Music,Pat Conroy,1996,Bantam Books,http://images.amazon.com/images/P/0553574574.0...,http://images.amazon.com/images/P/0553574574.0...,http://images.amazon.com/images/P/0553574574.0...,63,7.62
145,0385503954,"In 1935 England, thirteen-year-old Briony Tall...",351,[Fiction],Atonement: A Novel,Ian Mcewan,2002,Nan A. Talese,http://images.amazon.com/images/P/0385503954.0...,http://images.amazon.com/images/P/0385503954.0...,http://images.amazon.com/images/P/0385503954.0...,50,7.94
146,014100018X,An exotic stranger arrives in the French villa...,324,[Chocolate],Chocolat,Joanne Harris,2000,Penguin Books,http://images.amazon.com/images/P/014100018X.0...,http://images.amazon.com/images/P/014100018X.0...,http://images.amazon.com/images/P/014100018X.0...,52,7.85
147,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10

##### The authors dataframe

In [476]:
#getting the list of author names
list_authors = list_from_column(books_dataset, 'BookAuthor')
print(len(list_authors))

148

In [428]:
url = f'https://openlibrary.org/search/authors.json'
authors_dataset = dataframe_from_api(url, 'author', 'docs', list_authors)
display(authors_dataset)

,key,type,name,top_work,work_count,top_subjects,_version_,alternate_names,birth_date,death_date,date
0,OL10659458A,author,John Grisham,Street Lawyer,181,"[Fiction, legal, Fiction, Fiction, general, Mi...",1763981832224768000,NaN,NaN,NaN,NaN
1,OL31120A,author,Toni Morrison,Beloved,144,"[Fiction, American fiction (fictional works by...",1767966242305474566,"[Chloe Ardelia Wofford, Toni MORRISON, Toni Mo...",18 February 1931,5 August 2019,NaN
2,OL3022340A,author,Rich Shapero,Wild Animus,20,"[Fiction, general, Fiction, Metaphysics, Wrang...",1759826640045604866,NaN,NaN,NaN,NaN
3,OL28257A,author,Michael Crichton,Jurassic Park,112,"[Fiction, Large type books, Fiction, thrillers...",1763623915843747855,"[John Michael Crichton, Michael Chrichton, Joh...","October 23, 1942","November 4, 2008",NaN
4,OL28257A,author,Michael Crichton,Jurassic Park,112,"[Fiction, Large type books, Fiction, thrillers...",1763623915843747855,"[John Michael Crichton, Michael Chrichton, Joh...","October 23, 1942","November 4, 2008",NaN
...,...,...,...,...,...,...,...,...,...,...,...
143,OL2162284A,author,Stephen King,Carrie,652,"[Fiction, Maine, Fiction, horror, Horror tales...",1765167647786270733,"[Richard Bachman, King, Stephen, Stephen Edwin...","September 21, 1947",NaN,NaN
144,OL443134A,author,Pat Conroy,The Great Santini,60,"[South Carolina, Fiction, Fiction, general, So...",1759832255645089806,NaN,1945,NaN,NaN
145,OL222146A,author,Ian McEwan,Atonement,84,[British and irish fiction (fictional works by...,1759823013451137054,NaN,21 June 1948,NaN,NaN
146,OL25453A,author,Joanne Harris,Chocolat: a novel,203,"[Fiction, France, fiction, Mothers and daughte...",1759824568335204364,"[Joanne M. Harris, Joanne M Harris (author), J...",1964,NaN,NaN
147,OL18977A,author,Nora Roberts,Dance Upon the Air,1320,"[Fiction, Fiction, romance, general, Fiction, ...",1760693317071274005,"[著, Eleanor Marie Robertson, Nora Roberts (J. ...",10 Oct 1950,NaN,NaN

In [429]:
#keeping only the columns we need
authors_dataset = authors_dataset.drop(['key','type', '_version_','alternate_names','date'], axis=1)

In [430]:
#renaming the column in the same format
authors_dataset = rename_columns(authors_dataset)

In [431]:
display(authors_dataset)

,Name,TopWork,WorkCount,TopSubjects,BirthDate,DeathDate
0,John Grisham,Street Lawyer,181,"[Fiction, legal, Fiction, Fiction, general, Mi...",NaN,NaN
1,Toni Morrison,Beloved,144,"[Fiction, American fiction (fictional works by...",18 February 1931,5 August 2019
2,Rich Shapero,Wild Animus,20,"[Fiction, general, Fiction, Metaphysics, Wrang...",NaN,NaN
3,Michael Crichton,Jurassic Park,112,"[Fiction, Large type books, Fiction, thrillers...","October 23, 1942","November 4, 2008"
4,Michael Crichton,Jurassic Park,112,"[Fiction, Large type books, Fiction, thrillers...","October 23, 1942","November 4, 2008"
...,...,...,...,...,...,...
143,Stephen King,Carrie,652,"[Fiction, Maine, Fiction, horror, Horror tales...","September 21, 1947",NaN
144,Pat Conroy,The Great Santini,60,"[South Carolina, Fiction, Fiction, general, So...",1945,NaN
145,Ian McEwan,Atonement,84,[British and irish fiction (fictional works by...,21 June 1948,NaN
146,Joanne Harris,Chocolat: a novel,203,"[Fiction, France, fiction, Mothers and daughte...",1964,NaN
147,Nora Roberts,Dance Upon the Air,1320,"[Fiction, Fiction, romance, general, Fiction, ...",10 Oct 1950,NaN

##### Playing with the datasets

In [487]:
info_dataset = pd.merge(books_dataset, reviews, left_on = 'Isbn', right_on = 'ISBN')
info_dataset = pd.merge(info_dataset, users, on = 'User-ID')
display(info_dataset)

,Isbn,BookDescription,NumberOfPages,Categories,BookTitle,BookAuthor,YearOfPublication,Publisher,ImageUrlS,ImageUrlM,ImageUrlL,NumberOfRatings,AverageRating,User-ID,ISBN,Book-Rating,Location,Age
0,0440234743,Heart of darkness... In a plush Virginia offic...,545,[Adventure stories],The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,169,7.70,277478,0440234743,0,"schiedam, zuid-holland, netherlands",31.0
1,0971880107,"Wild animus is a search for the primordial, a ...",322,[Adventure fiction],Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,581,4.39,277478,0971880107,0,"schiedam, zuid-holland, netherlands",31.0
2,0440225701,"After a violent encounter with a homeless man,...",472,[Colecção Suspense],The Street Lawyer,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440225701.0...,http://images.amazon.com/images/P/0440225701.0...,http://images.amazon.com/images/P/0440225701.0...,133,7.62,277478,0440225701,0,"schiedam, zuid-holland, netherlands",31.0
3,0786868716,Eddie dies on his eighty-third birthday in a t...,216,[Fiction],The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion,http://images.amazon.com/images/P/0786868716.0...,http://images.amazon.com/images/P/0786868716.0...,http://images.amazon.com/images/P/0786868716.0...,242,8.02,277478,0786868716,0,"schiedam, zuid-holland, netherlands",31.0
4,0449907481,A successful Iowa farmer decides to divide his...,388,[Aging parents],A Thousand Acres (Ballantine Reader's Circle),Jane Smiley,1992,Ballantine Books,http://images.amazon.com/images/P/0449907481.0...,http://images.amazon.com/images/P/0449907481.0...,http://images.amazon.com/images/P/0449907481.0...,74,7.53,277478,0449907481,0,"schiedam, zuid-holland, netherlands",31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38076,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10,252287,051513628X,0,"boynton beach, florida, usa",58.0
38077,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10,255661,051513628X,0,"parker, colorado, usa",34.0
38078,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10,258034,051513628X,10,"new bern, north carolina, usa",NaN
38079,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10,261695,051513628X,10,"milwaukee, wisconsin, usa",41.0
38080,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10,269321,051513628X,9,"walpole, massachusetts, usa",49.0

In [488]:
#drop ratings with 0
info_dataset = info_dataset.drop(info_dataset[info_dataset['Book-Rating'] == 0].index)
display(info_dataset)

,Isbn,BookDescription,NumberOfPages,Categories,BookTitle,BookAuthor,YearOfPublication,Publisher,ImageUrlS,ImageUrlM,ImageUrlL,NumberOfRatings,AverageRating,User-ID,ISBN,Book-Rating,Location,Age
13,0452264464,WINNER OF THE NOBEL PRIZE IN LITERATURE.,296,[African American women],Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,79,7.77,9,0452264464,6,"germantown, tennessee, usa",NaN
17,0060977493,Set against a background of political turbulen...,340,[Cousins],The God of Small Things,Arundhati Roy,1998,Perennial,http://images.amazon.com/images/P/0060977493.0...,http://images.amazon.com/images/P/0060977493.0...,http://images.amazon.com/images/P/0060977493.0...,97,7.68,243,0060977493,7,"arden hills, minnesota, usa",NaN
27,0449006522,"Falsely convicted of a brutal crime, college s...",386,[Fiction],Manhattan Hunt Club,John Saul,2002,Ballantine Books,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...,51,7.63,243,0449006522,6,"arden hills, minnesota, usa",NaN
31,155874262X,Two of America's best-loved inspirational spea...,332,[Anecdotes],Chicken Soup for the Soul (Chicken Soup for th...,Jack Canfield,1993,Health Communications,http://images.amazon.com/images/P/155874262X.0...,http://images.amazon.com/images/P/155874262X.0...,http://images.amazon.com/images/P/155874262X.0...,95,7.72,243,155874262X,5,"arden hills, minnesota, usa",NaN
32,044023722X,"Racial tension, a forbidden love affair, and m...",476,[Fiction],A Painted House,John Grisham,2001,Dell Publishing Company,http://images.amazon.com/images/P/044023722X.0...,http://images.amazon.com/images/P/044023722X.0...,http://images.amazon.com/images/P/044023722X.0...,281,7.34,243,044023722X,7,"arden hills, minnesota, usa",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38074,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10,241660,051513628X,8,"gilroy, california, usa",42.0
38075,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10,245608,051513628X,7,"evansville, indiana, usa",NaN
38078,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10,258034,051513628X,10,"new bern, north carolina, usa",NaN
38079,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10,261695,051513628X,10,"milwaukee, wisconsin, usa",41.0
38080,051513628X,#1 New York Times bestselling author Nora Robe...,358,[Fiction],Key of Light (Key Trilogy (Paperback)),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,http://images.amazon.com/images/P/051513628X.0...,50,8.10,269321,051513628X,9,"walpole, massachusetts, usa",49.0

In [490]:
info_dataset[['City', 'Region', 'Country']] = info_dataset['Location'].str.split(',', 2, expand=True)
info_dataset['Country'] = info_dataset['Country'].str.strip()

info_dataset_new = info_dataset[['Isbn', 'Country', 'Book-Rating','Age']]

<ipython-input-490-91b0488d377b>:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  info_dataset[['City', 'Region', 'Country']] = info_dataset['Location'].str.split(',', 2, expand=True)

In [481]:
print(books_dataset.columns.tolist())

['Isbn', 'BookDescription', 'NumberOfPages', 'Categories', 'BookTitle', 'BookAuthor', 'YearOfPublication', 'Publisher', 'ImageUrlS', 'ImageUrlM', 'ImageUrlL', 'NumberOfRatings', 'AverageRating']

In [482]:
def merge_with_books_dataframe(dataset):
  return pd.merge(dataset, books_dataset, on = 'Isbn')[['BookTitle', 'BookDescription', 'NumberOfPages', 'BookAuthor', 'YearOfPublication', 'Publisher', 'ImageUrlM', 'AverageRating', 'NumberOfRatings']]

In [491]:
#function that gets the top 10 books that have the highets average rating per country
def best_rated_books_country(dataset, country):
  reviews_country = dataset[dataset['Country'] == country]
  reviews_country = reviews_country.groupby(['Isbn'])['Book-Rating'].mean().reset_index(name = 'Average rating').nlargest(10, 'Average rating')
  return reviews_country

display(merge_with_books_dataframe(best_rated_books_country(info_dataset_new, 'netherlands')).sort_values(by = 'AverageRating', ascending = False))

,BookTitle,BookDescription,NumberOfPages,BookAuthor,YearOfPublication,Publisher,ImageUrlM,AverageRating,NumberOfRatings
4,Harry Potter and the Prisoner of Azkaban (Book 3),During his third year at Hogwarts School of Wi...,372,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,9.08,133
0,To Kill a Mockingbird,The unforgettable novel of a childhood in a sl...,292,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,8.94,214
8,The Curious Incident of the Dog in the Night-T...,Despite his overwhelming fear of interacting w...,232,Mark Haddon,2003,Doubleday,http://images.amazon.com/images/P/0385512104.0...,8.33,54
9,Prodigal Summer,"Barbara Kingsolver, a writer praised for her""e...",464,Barbara Kingsolver,2000,HarperCollins,http://images.amazon.com/images/P/0060199652.0...,8.27,60
7,The Joy Luck Club,Encompassing two generations and a rich blend ...,332,Amy Tan,1994,Prentice Hall (K-12),http://images.amazon.com/images/P/0804106304.0...,8.20,194
6,I Know Why the Caged Bird Sings,The moving and beautiful autobiography of a ta...,264,Maya Angelou,1983,Bantam,http://images.amazon.com/images/P/0553279378.0...,8.07,68
2,STONES FROM THE RIVER,From the acclaimed author of Floating in My Mo...,534,Ursula Hegi,1997,Touchstone,http://images.amazon.com/images/P/068484477X.0...,8.06,125
3,A Widow for One Year,"In A Widow for One Year, we follow Ruth Cole t...",580,John Irving,1999,Ballantine Books,http://images.amazon.com/images/P/0345424719.0...,8.02,57
5,Girl with a Pearl Earring,The New York Times bestselling novel by the au...,244,Tracy Chevalier,2001,Plume Books,http://images.amazon.com/images/P/0452282152.0...,7.98,278
1,Midnight in the Garden of Good and Evil: A Sav...,A first-person account of life in Savannah wit...,412,John Berendt,1994,Random House,http://images.amazon.com/images/P/0679429220.0...,7.79,107

In [496]:
#top 10 authors with books that have the highest ratings

author_sum = info_dataset.groupby(['BookAuthor'])['Book-Rating'].sum().reset_index(name = 'Sum ratings')
author_count = info_dataset.groupby(['BookAuthor'])['BookAuthor'].count().reset_index(name = 'Total ratings')

authors_top = pd.merge(author_sum, author_count, on = 'BookAuthor')

authors_top['Average rating'] = authors_top['Sum ratings'] / authors_top['Total ratings']

display(authors_top.sort_values(by = 'Average rating', ascending = False).head(10))

                    BookAuthor  Sum ratings  Total ratings  Average rating
41               J. K. Rowling         1208            133        9.082707
11   Antoine De Saint-Exupã©Ry          458             51        8.980392
37                  Harper Lee         1914            214        8.943925
101            William Goldman          654             74        8.837838
19           Christopher Moore          536             61        8.786885
1                   Al Franken          560             65        8.615385
26              Diana Gabaldon          901            105        8.580952
34               George Orwell         1656            193        8.580311
90               Sue Monk Kidd         2595            307        8.452769
14          Barbara Kingsolver         1493            177        8.435028